<% @notes.each do |m| %>
  <div class="
  <% if m.student?%>post_yellow<%end%>
  <% if m.company?%>post_purple<%end%>
  <% if m.secretary?%>post_green<%end%>
  <% if m.administrator?%>post_green<%end%>
  ">
  <a href="#<%=m.id%>myModal" role="link" class="link" data-toggle="modal"><%= truncate(m.to_s, length: 100)%></a>
  </div>
  <!-- Button to trigger modal -->

  <!-- Modal -->
  <div id="<%=m.id%>myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
      <h3>Mensagem</h3>
    </div>
    <div class="modal-body">
      <p>
         <%= m %><br><br>
         <b>Ass:</b> <%= m.user %>
      </p>
    </div>
    <div class="modal-footer">
      <% unless current_user.student?%>
          <%= link_to 'Editar', edit_note_path(m), class: 'btn btn-primary' %>
          <%= link_to 'Deletar', m, method: :delete, data: { confirm: 'Confirma exclusão?'}, :class => "btn btn-danger" %>
      <% end %>
    </div>
  </div>
<% end %>
<% @events.each do |e| %>
  <div class="post_purple">
  <a href="#<%=e.id%>myModalEvent" role="link" class="link" data-toggle="modal"><%= truncate( e.calendar_day.to_s + "-" + e.to_s, length: 100)%></a>
  </div>
  <!-- Button to trigger modal -->

  <!-- Modal -->
  <div id="<%=e.id%>myModalEvent" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
      <h3>Evento - <%= e.type_event_humanize %></h3>
    </div>
      <%@event = e%>
      <% if e.monitoring? %>
        <%= render 'events/monitoring', :event => @event %>
      <% end %>

      <% if e.party? %>
        <%= render 'events/party', :event => @event  %>
      <% end %>

      <% if e.recess? %>
      <%= render 'events/recess', :event => @event  %>

      <% end %>

      <% if e.holiday? %>
        <%= render 'events/holiday', :event => @event  %>
      <% end %>

      <% if e.day_trial? %>
        <%= render 'events/day_trial', :event => @event  %>
      <% end %>

      <% if e.important? %>
        <%= render 'events/important', :event => @event  %>
      <% end %>
  </div>
<% end %>

