<% if @monitorings.count > 0 %>
  <div class="alert alert-alert">
  <button type="button" class="close" data-dismiss="alert">&times;</button>
  <i class="icon-calendar"></i><strong>Monitoria</strong><br>
  <% @monitorings.each do |m| %>
    <a href="#<%=m.id%>myModalEvent" role="link" class="link" data-toggle="modal"><%= m %></a><br>

    <div id="<%=m.id%>myModalEvent" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3><%= m.type_event_humanize %></h3>
      </div>
      <%@event = m%>
      <% if m.monitoring? %>
        <%= render 'events/monitoring', :event => @event %>
      <% end %>
    </div>
  <% end %>
  </div>
<% end %>

<% if @days_trial.count > 0 %>
  <div class="alert alert-error">
  <button type="button" class="close" data-dismiss="alert">&times;</button>
  <i class="icon-calendar"></i><strong>Dia de Prova</strong><br>
  <% @days_trial.each do |d| %>
    <%= d.calendar_day.to_string %> | <%=d.description%><br>
  <% end %>
  </div>
<% end %>

<% if @importants.count > 0 %>
  <div class="alert alert-error">
  <button type="button" class="close" data-dismiss="alert">&times;</button>
  <i class="icon-calendar"></i><strong>Importante</strong><br>
  <% @importants.each do |i| %>
    <%= i.calendar_day.to_string %> |<%= i.time_start.try(:strftime, '%H:%M') %> <%=i.description%><br>
  <% end %>
  </div>
<% end %>
<div class="alert alert-info">
<button type="button" class="close" data-dismiss="alert">&times;</button>
<i class="icon-comment"></i><strong>Mensagens</strong><br>
	<% @notes.each do |n|%>
			<% if current_user.adm %>
	      <%= link_to "Editar", edit_note_path(n) %>
				<%= link_to "Apagar", n , method: :delete, data: { confirm: 'Confirma exclusão?' } %><br>
	    <% end %> 
				<pre>
					<%=  raw n.subject %>
				</pre>
				<br>
	    <strong>Ass: </strong><%= n.user.name %>
			<hr>
	<% end %>
</div>


<% if @students_block_schedule_different.any? %>
	  <div class="alert alert-error">
	  <button type="button" class="close" data-dismiss="alert">&times;</button>
	  <i class="icon-user"></i><strong>Alunos enturmados fora do horário passado(<%= @students_block_schedule_different.count %>)</strong><br>
	<%= text_field_tag 'txtBusca', '', :class => 'span11 input-search', :id => 'txtBusca',:placeholder => "Buscar nesta lista", :alt =>"list_students" %>
	<table class="list_students">
			<thead>
	        <tr>
	            <th>Aluno</th>
	            <th>Turma/Horário</th>
	        </tr>
	    </thead>    
	    <tbody>
		  <% @students_block_schedule_different.sorted.each do |s| %>
			<tr>
				<td>
					<%= link_to "#{s}", s  %>
				</td>
				<td>
					<% s.groups.each do |g|  %>
					<%= "#{g.classroom}(#{g.classroom.time_start.try(:strftime, '%H:%M')} às #{g.classroom.time_end.try(:strftime, '%H:%M')} #{g.classroom.day_week_humanize})" %> |
					<% end %>
				</td>
			</tr>
		<% end %>		  
		</tbody>
	</table>
	</div>
<% end %>

<% if @birthdates.count > 0  %>
  <div class="alert alert-success">
  <button type="button" class="close" data-dismiss="alert">&times;</button>
  <i class="icon-gift"></i><strong>Aniversários</strong><br>
  <% @birthdates.each do |b|%>
    <string><%= b.student %></strong> (<%=b.classroom%>|<%= b.classroom.day_week_humanize %>|<%= b.classroom.time_start.try(:strftime, '%H:%M')%> às <%= b.classroom.time_end.try(:strftime, '%H:%M')%> <%= b.classroom.teacher%>)<br>
  <%end%>
  </div>
<% end %>
