<%= simple_form_for(@profile) do |f| %>
<div class="row-fluid">
  <div class="span6"><%= f.input :name, input_html: { class: 'span6' } %></div>
  <div class="span6"><%= f.input :adm %></div>
</div>
  <table class="table table-striped table-hover table-bordered">
    <colgroup>
      <col>
      <col width="160">
    </colgroup>
    <thead>
      <tr>
        <th>Permissões</th>
      </tr>
    </thead>
    <tbody>
    <% @roles.group_by(&:controller).each do |controller, roles| %>
      <tr>
        <td>
          <h5><%= TranslateController.translate(controller) %></h5>
          <% contador = 0 %>
        </td>
      </tr>
      <% roles.each do |role |%>
        <% if contador == 0 %>
          <tr>
        <%end%>
        <%  contador = contador + 1 %>
        <td class= "<%if role.action == 'schedules' && controller != 'classrooms'%>hide<% end %>">
          &nbsp;&nbsp;<%= check_box_tag 'profile[role_ids][]', role.id, @profile.role_ids.include?(role.id) %>
          <%= TranslateController.action(role.action)%>&nbsp;&nbsp;
        </td>
        <% if contador == 5 %>
          <%contador = 0%>
          </tr>
        <%end%>
      <%end%>

    <% end %>
  </table>
<div class="form-actions">
  <%= f.button :submit, class: 'btn btn-success' %>
  <%= link_to 'Voltar', profiles_path, class: 'btn' %>
</div>

<% end %>
