<%= simple_form_for(@note) do |f| %>
<div class="row-fluid">
  <div class="span6">
      <%= f.input :user_id, :as => "hidden"%>
      <%= f.input :subject, input_html: { rows: 10 } %>
    </div>
</div>
<div class="row-fluid">
  <div class="span3"><%= f.input :for_note, collection: ForMessage %></div>
</div>

<div class="form-actions">
  <%= f.button :submit, :class => "btn btn-success" %>
  <%= link_to 'Voltar', :back, :class => "btn"  %>
</div>

<% end %>
