<blockquote>
  <table class='table'>
    <tr>
      <td>
        <%= link_to new_classroom_path, role: 'button' do %>
          <h2 class="text-success" title='Novo Aluno'><i class="icon-plus"></i></h2>
        <% end %>
      </td>
      <td>
        <%= link_to envelopes_for_exams_classrooms_path(type_exam: TypeExam::MIDTERM), role: 'button' do %>
          <h2 class="text-warning" title='Imprimir envelope prova midterm'><i class="icon-list-alt"></i></h2>
        <% end %>
      </td>
      <td>
        <%= link_to envelopes_for_exams_classrooms_path(type_exam: TypeExam::FINAL), role: 'button' do %>
          <h2 class="text-error" title='Imprimir envelope prova final'><i class="icon-list-alt"></i></h2>
        <% end %>
      </td>
	 </tr>
	</table>
</blockquote>

<table class="table table-striped table-hover table-bordered">
  <tr>
    <td>
      <strong>Turmas: </strong><%= @classrooms.count %>
    </td>
    <td>
      <strong>Fechadas: </strong><%= @classrooms.closed.count %>
    </td>
    <td>
      <strong>Abertas: </strong><%= @classrooms.open.count %>
    </td>
  </tr>
</table>
<%= label_tag 'txtBusca', 'Pesquisar' %>
<%= text_field_tag 'txtBusca', '', :class => 'span11 input-search', :id => 'txtBusca',:placeholder => "Buscar nesta lista", :alt =>"list_classrooms" %>
  <table class="list_classrooms table table-striped table-hover table-bordered">
      <thead>
          <tr>
              <th>Nome</th>
              <th>Professor</th>
              <th>Dia da Semana</th>
              <th>Horário</th>
              <th>Capacidade</th>
              <th>Quantidade de Alunos</th>
              <th>Vagas</th>
              <th>Quant. alunos rematricula aprovados</th>
              <th>Quant. alunos rematricula reprovados</th>
              <th> Ação </th>
          </tr>
      </thead>
      <tbody>
        <% if @classrooms.any? %>
          <% @classrooms.sorted.each do |c| %>
            <tr class="<% if  c.closed%>success<% end %>">
                <td><%= c %></td>
                <td><%= c.teacher%></td>
                <td><%= c.day_week_humanize%></td>
                <td><%= c.time_start.try(:strftime, '%H:%M')%> às <%= c.time_end.try(:strftime, '%H:%M') %>
                <td><%= c.capacity %> </td>
                <td><%= c.count_students%></td>
                <td><%= c.vacancy%></td>
                <td><%= c.groups_re_enrollment_approved%></td>
                <td><%= c.groups_re_enrollment_failed%></td>
                <td>
                  <div class="btn-group">
                    <%= link_to "Ver", c, :class => "btn btn-primary" %>
                  </div>
                </td>
            </tr>
          <% end %>
        <% else %>
          <tr>
            <td colspan='9'>Nenhum registro foi encontrado.</td>
          </tr>
        <% end %>
      </tbody>
  </table>