<table class="list_classrooms table table-striped table-hover table-bordered">
    <thead>
        <tr>
            <th>Nome</th>
            <th>Professor</th>
            <th>Dia da Semana</th>
            <th>Horário</th>
            <th>Aprovados</th>
						<th>Reprovados</th>
						<th>Quantidade aprov/reprov</th>
            
        </tr>
    </thead>
    <tbody>
      <% if @classrooms.any? %>
        <% @classrooms.sorted.each do |c| %>
          <tr class="<% if  c.closed%>success<% end %>">
              <td><%= c %></td>
              <td><%= c.teacher%></td>
              <td><%= c.day_week_humanize%></td>
              <td><%= c.time_start.try(:strftime, '%H:%M')%> às <%= c.time_end.try(:strftime, '%H:%M') %>
              <td><%= a = c.groups_re_enrollment_approved%></td>
              <td><%= f = c.groups_re_enrollment_failed%></td>  
							<td> <%= a  + f %></td>							
          </tr>
        <% end %>
      <% else %>
        <tr>
          <td colspan='9'>Nenhum registro foi encontrado.</td>
        </tr>
      <% end %>
    </tbody>
</table>