<blockquote>
  <table class='table'>
    <tr>
      <td>
        <%= link_to edit_classroom_path(@classroom), role: 'button' do %>
          <h2 class="text-info" title='Editar Turma'><i class="icon-home"></i></h2>
        <% end %>
      </td>
       <td>
         <%= link_to generate_lessons_classroom_path(@classroom), role: 'button' do %>
           <h2 class="text-info" title='Gerar Aulas'><i class="icon-file"></i></h2>
         <% end %>
       </td>
       <td>
          <%= link_to lessons_path(:classroom_id => @classroom.id), role: 'button' do %>
            <h2 class="text-info" title='Aulas'><i class="icon-time"></i></h2>
          <% end %>
       </td>
       <td>
         <%= link_to for_month_print_daily_classroom_path(@classroom), role: 'button' do %>
           <h2 class="text-info" title='Imprimir Diário'><i class="icon-print"></i></h2>
         <% end %>
       </td>
       <td>
          <%= link_to new_group_path(:classroom_id => @classroom.id), role: 'button' do %>
            <h2 class="text-success" title='Agrupar Alunos'><i class="icon-user"></i></h2>
          <% end %>
       </td>
       <td>
          <%= link_to throw_faults_classroom_path(@classroom), role: 'button' do %>
            <h2 class="text-success" title='Lançar faltas'><i class="icon-calendar"></i></h2>
          <% end %>
       </td>
			 <td>
          <%= link_to throw_exams_classroom_path(@classroom), role: 'button' do %>
            <h2 class="text-success" title='Lançar avaliações'><i class="icon-edit"></i></h2>
          <% end %>
       </td>
       <td>
         <%= link_to @classroom, method: :delete, confirm: "Confirma exclusão", role: 'button' do %>
           <h2 class="text-error" title='Apagar'><i class="icon-remove"></i></h2>
         <% end %>
       </td>
    </tr>
  </table>
</blockquote>
<blockquote>
<h3 class='text-info'><%=@classroom%></h3>	
<table class='table'>
  <tr>
    <td>
      <p>
        <strong>Curso:</strong>
        <%= @classroom.course %>
      </p>
    </td>
  </tr>
  <tr>
    <td>
      <p>
        <strong>Escola:</strong>
        <%= @classroom.company %>
      </p>
    </td>
    <td>
      <p>
        <strong>Dia da Semana:</strong>
        <%= @classroom.day_week_humanize %>
      </p>
    </td>
  </tr>
  <tr>
    <td>
      <p>
        <strong>Hora Inicial:</strong>
        <%= @classroom.time_start.try(:strftime, '%H:%M') %>
      </p>
    </td>
    <td>
      <p>
        <strong>Hora final:</strong>
        <%= @classroom.time_end.try(:strftime, '%H:%M') %>
      </p>
    </td>
  </tr>
  <tr>
    <td>
      <p>
        <strong>Professor:</strong>
        <%= link_to "#{@classroom.teacher}", @classroom.teacher %>
      </p>
    </td>
  <tr>
</table>
<script src='http://www.google.com/jsapi'></script>
<div id='chart_midterm'></div>
<%= render_chart @chart_midterm, 'chart_midterm' %>

<div id='chart_final'></div>
<%= render_chart @chart_final, 'chart_final' %>

</blockquote>

<blockquote>
	<hr/>
	  <h3  class="text-info"  align='center'>Alunos</h3>
	<%= render '/groups/groups'%>
</blockquote>

