<p id="notice"><%= notice %></p>
<h2 class="text-info"><%= @calendar_day.to_string %></h2>

<blockquote>
  <table class='table'>
    <tr>
      <td>
        <%= link_to new_event_path(calendar_day_id: @calendar_day.id), role: 'button' do %>
          <h2 class="text-success" title='Novo Aluno'><i class="icon-plus"></i></h2>
        <% end %>
      </td>
			<td>
				<%= link_to calendar_path(id: @calendar_day.calendar, calendar_day_id: @calendar_day_id ), role: 'button' do %>
          <h2 class="text-info" title='Novo Aluno'><i class="icon-arrow-left"></i></h2>
        <% end %>        
			</td>
	 </tr>
	</table>
</blockquote>

<blockquote>
	<% @calendar_day.events.sorted_time_start.each do |e|  %>

	<div class="<% if params[:event_id].to_i == e.id %>alert alert-success<%else%>alert alert-info<%end%>">
		<button type="button" class="close" data-dismiss="alert">&times;</button>
		<i class="<% if e.monitoring? %>icon-time<%else%>icon-calendar<% end %>"></i><strong><%= link_to "#{e.title}", edit_event_path(e)%></strong>
	</div>
	<% end %>
	
	
</blockquote>