<p id="notice"><%= notice %></p>
<h2 class="text-info"><%= @calendar_day.to_string %></h2>

<blockquote>
  <table class='table'>
    <tr>
      <td>
        <%= link_to new_event_path(calendar_day_id: @calendar_day.id), role: 'button' do %>
          <h2 class="text-success" title='Novo Aluno'><i class="icon-plus"></i></h2>
        <% end %>
      </td>
			<td>
				<%= calendar_path(id: @calendar_day.calendar, calendar_day_id: @calendar_day_id ), role: 'button' do %>
          <h2 class="text-success" title='Novo Aluno'><i class="icon-arrow-left"></i></h2>
        <% end %>        
			</td>
	 </tr>
	</table>
</blockquote>

<blockquote>
	<div class="alert alert-info">
		<button type="button" class="close" data-dismiss="alert">&times;</button>
		<i class="icon-file"></i><strong>Histórico</strong><br>
		<% @calendar_day.events.each do |e|  %>
			<%= e.time_start.try(:strftime, '%H:%M') %> às  <%= e.time_end.try(:strftime, '%H:%M') %> <%= e.description %><%= " - #{e.student}" if e.monitoring? %> <%= link_to "editar", edit_event_path(e) %><hr>
		<% end %>
		<% @calendar_day.schedules.each do |s|  %>
			<%= s.description%>(<%= s.plan %> - cronograma) <hr>
		<% end %>	
	</div>
</blockquote>