<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="pt-br">
  <head>
    <title></title>
    <meta content="portrait" name="pdfkit-orientation" />
    <meta name="robots" content="noindex, nofollow" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link REL="SHORTCUT ICON" href="/images/favicon.ico" />

    <%= stylesheet_link_tag 'relatorio_syens', :media => "all" %>
  </head>
  <body>
    <hr />
    <%= render 'layouts/head_report' %>
    <p class="corpo">
      <br/>
      <br/>
      <br/>
      <br/>
      <br/>
      <br/>
      <br/>
      <br/>
      <br/>
      <br/>
      <br/>
      <br/>
      <br/>
      <p align='right'>
        <font size=3> <b><%= current_company%></b><br/>
        PARCEIRO CREDENDICIADO - CCAA <br/>
        <%= current_company.phone%> <br/>
        <%= current_company.email%></font>
      </p>
      <br/>
      <br/>
      <hr/>
    </p>
  </body>
</html>