<% count = 0 %>
<% @groups.each do |group| %>
<% count = count + 1 %>
<p>
  <h3 align='center'>Declaração</h3>
<p class="lead">
	<table>
		<tr>
			<td>
				<strong><%= l Date.today , format: :long %></strong>
			</td>
		<tr>
	</table>
	<br>
Declaramos para os devidos fins que <b><%= @student%></b> é aluno(a) do curso de <b><%= group.classroom.course.type_course_humanize %>(<%=group.classroom.course.level_course_humanize%>)</b> <br/>por nós ministrado e encontra-se regulamente matriculado(a), com inicio no <%= "#{group.created_at.day} de #{TranslateMonths.translate(group.created_at.month)} de #{group.created_at.year}" %>, tendo aulas <b><%= group.classroom.day_week_humanize %></b>, no horário de <b><%= group.classroom.time_start.try(:strftime, '%H:%M') %> às  <%= group.classroom.time_end.try(:strftime, '%H:%M') %>.</b></p>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
</p>
<p class="text-center">
  <font size=3> <b><%= current_company%></b><br/>
  PARCEIRO CREDENDICIADO - CCAA <br/>
  <%= current_company.phone%> <br/>
  <%= current_company.email%></font>
</p>
<br/>
<br/>
<% if count < @quant_groups %>
  <div style="page-break-before:always"></div>
  <%= render 'layouts/head_report' %>
<% end %>
<% end %>
