<blockquote>
  <table class='table'>
    <tr>
      <td>
        <%= link_to new_student_path, role: 'button' do %>
          <h2 class="text-success" title='Novo Aluno'><i class="icon-plus"></i></h2>
        <% end %>
      </td>
      <td>
        <%= link_to students_path, role: 'button' do %>
          <h2 class="text-info" title='todos'><i class="icon-user"></i></h2>
        <% end %>
      </td>
      <td>
        <%= link_to students_path(second_change_exam: 'true'), role: 'button' do %>
          <h2 class="text-error" title='Listar alunos em 2ª chamada'><i class="icon-user"></i></h2>
        <% end %>
      </td>
      <td>
        <%= link_to students_path(children: 'true'), role: 'button' do %>
          <h2 class="text-error" title='Alunos menores de idade'><i class="icon-hand-down"></i></h2>
        <% end %>
      </td>
      <td>
        <%= link_to students_path(enrolled: 'true'), role: 'button' do %>
          <h2 class="text-success" title='Alunos matriculados'><i class="icon-file"></i></h2>
        <% end %>
      </td>


	 </tr>
	</table>
</blockquote>
<%= label_tag 'txtBusca', 'Pesquisar' %>
<%= text_field_tag 'txtBusca', '', :class => 'span11 input-search', :id => 'txtBusca',:placeholder => "Buscar nesta lista", :alt =>"list_students" %>

<% if params[:second_change_exam] == 'true' %>
	<table class="list_students table table-striped table-hover table-bordered">
	    <thead>
	        <tr>
	            <th>Nome</th>
	            <th>Turma</th>
							<th>Dia de Prova</th>
	            <th>Ação</th>
	        </tr>
	    </thead>
	    <tbody>
	        <% if @groups_second_change_exam.any? %>
	          <% @groups_second_change_exam.each do |s| %>
	            <tr>
	                <td align="center">
	                  <%= s.student %>
	                </td>
	                <td>
							      <p>
										 <h4><%= s.classroom.course %></h4><br>							  								
							        <strong>Dia da Semana:</strong><%= s.classroom.day_week_humanize %><br>
							        <strong>Hora Inicial:</strong> <%= s.classroom.time_start.try(:strftime, '%H:%M') %><br>
							        <strong>Hora final:</strong>
							        <%= s.classroom.time_end.try(:strftime, '%H:%M') %>									
							      </p>
	                </td>
									<td>
										<%s.student.second_exam(current_calendar.id).each do |e| %>
											<%= e.calendar_day.to_string %> <%= "#{e.time_start.try(:strftime, '%H:%M')}  às  #{e.time_end.try(:strftime, '%H:%M')}"%><br>
										<%end%>																				
									</td>
	                <td>
	                  <div class="btn-group">
												<% unless s.student.second_exam(current_calendar.id).any? %>
	                    <%= link_to "Criar Horario", new_event_path(student_id: s.student_id, second_change_exam: 'true' ), :class => "btn btn-success" %>
											<% end %>
	                  </div>
	                </td>
	            </tr>
	          <% end %>
	        <% else %>
	          <tr>
	            <td colspan='2'>Nenhum registro foi encontrado.</td>
	          </tr>
	        <% end %>
	    </tbody>
	</table>	
<% else %>
	<% if params[:children] == 'true' %>
	<table class="list_students table table-striped table-hover table-bordered">
	    <thead>
	        <tr>
	            <th>Nome</th>
	            <th>Idade</th>
	            <th>Ação</th>
	        </tr>
	    </thead>
	    <tbody>
	        <% if @children.any? %>
						 <% count_children = 0 %>
	          <% @children.sort_by(&:student).group_by(&:student).each do |student, groups| %>
							<% if student.age[:ano].to_i < 16 && student.age[:ano].to_i > 0 %>
								<% count_children = count_children + 1 %>
	            <tr>
	                <td align="center">
	                  <%= student %>
	                </td>
	                <td>
	                  <% age = student.age %>
	                  <%= age[:ano]%> anos(s)
	                  <%= age[:mes]%> mês(es)
	                  <%= age[:dia]%> dia(s)
	                </td>
	                <td>
	                  <div class="btn-group">
	                    <%= link_to "Ver", student, :class => "btn btn-primary" %>
	                  </div>
	                </td>
	            </tr>
							<% end %>
	          <% end %>
	        <% else %>
	          <tr>
	            <td colspan='2'>Nenhum registro foi encontrado.</td>
	          </tr>
	        <% end %>
	    </tbody>
	</table>
	<p>
		<strong>Quantidade de alunos abaixo de 16 anos:</strong> <%= count_children %> aluno(s)
	</p>
	
	<% else %>
	
	<% if params[:enrolled] == 'true' %>
	 <p><strong>Quantidade de alunos sem avisar</strong> <%= @groups_active.count %></p>
	<table class="list_students table table-striped table-hover table-bordered">
		<thead>
        <tr>
            <th>Nome</th>
            <th>Telefone</th>
						<th>Turma</th>
            <th>Reprovado semestre anterior</th>
						<th>Ação</th>
        </tr>
    </thead>    
    <tbody>
        <% if @groups_active.any? %>
          <% @groups_active.each do |s| %>
						<% if s.student.start_class == false%>
	            <tr>
								<td>
									<%= s.student %>
								</td>
								<td>
									<%= s.student.phone%> / <%= s.student.cell_phone%>								
								</td>
								<td>
									<%= link_to "#{s.classroom}", s.classroom %>
			            <br/>
			            <b>Professor:</b> <%= s.classroom.teacher%><br/>
			            <b>Horário:</b> <%= s.classroom.time_start.try(:strftime, '%H:%M') %> às  <%= s.classroom.time_end.try(:strftime, '%H:%M') %> <br/>
			            <b>Dia da Semana:</b>
			            <%= s.classroom.day_week_humanize %><br/>
			            <b>Período:</b>
			            <%= s.classroom.calendar %>		            
								</td>
								<td>
									<% if s.repeat %>
									<h3 class='text-error text-center'><i title= "trancar" class="icon-thumbs-up"></i><h3>
									<% end %>									
								</td>
								<td>
									<%= link_to "Ver", edit_student_path(s.student), class: 'btn btn-primary' %>								
								</td>
							</tr>
						<% end %>
					<% end %>
				<% else %>
				<tr>
          <td colspan='3'>Nenhum registro foi encontrado.</td>
        </tr>        
				<% end %>
	</table>	
	<% else %>
		<table class="list_students table table-striped table-hover table-bordered">
		    <thead>
		        <tr>
		            <th>Nome</th>
		            <th>Idade</th>
		            <th>Ação</th>
		        </tr>
		    </thead>
		    <tbody>
		        <% if @students.any? %>
		          <% @students.sorted.each do |s| %>
		            <tr>
		                <td align="center">
		                  <%= s %>
		                </td>
		                <td>
		                  <% age = s.age %>
		                  <%= age[:ano]%> anos(s)
		                  <%= age[:mes]%> mês(es)
		                  <%= age[:dia]%> dia(s)
		                </td>
		                <td>
		                  <div class="btn-group">
		                    <%= link_to "Ver", s, :class => "btn btn-primary" %>
		                    <%= link_to "notas", bulletin_student_path(s
		), :class => "btn btn-primary" %>
		                  </div>
		                </td>
		            </tr>
		          <% end %>
		        <% else %>
		          <tr>
		            <td colspan='2'>Nenhum registro foi encontrado.</td>
		          </tr>
		        <% end %>
		    </tbody>
		</table>
	
	<% end %>
	

	<% end %>
	
	
<% end %>

