<blockquote>
  <table class='table'>
    <tr>
      <td>
        <%= link_to new_classroom_path(@classroom), role: 'button' do %>
          <h2 class="text-success" title='Novo Aluno'><i class="icon-plus"></i></h2>
        <% end %>
      </td>
	 </tr>
	</table>
<blockquote>
<%= label_tag 'txtBusca', 'Pesquisar' %>
<%= text_field_tag 'txtBusca', '', :class => 'span11 input-search', :id => 'txtBusca',:placeholder => "Buscar nesta lista", :alt =>"list_students" %>

<table class="list_students table table-striped table-hover table-bordered">
    <thead>
        <tr>
            <th>Nome</th>
            <th>Idade</th>
            <th>Ação</th>
        </tr>
    </thead>
    <tbody>
        <% if @students.any? %>
          <% @students.sorted.each do |s| %>
            <tr>
                <td align="center">
                  <%= s %>
                </td>
                <td>
                  <% age = s.age %>
                  <%= age[:ano]%> anos(s)
                  <%= age[:mes]%> mês(es)
                  <%= age[:dia]%> dia(s)
                </td>
                <td>
                  <div class="btn-group">
                    <%= link_to "Ver", s, :class => "btn btn-primary" %>
                  </div>
                </td>
            </tr>
          <% end %>
        <% else %>
          <tr>
            <td colspan='2'>Nenhum registro foi encontrado.</td>
          </tr>
        <% end %>
    </tbody>
</table>
