  <%= f.input :classroom_id, :as => "hidden"%>
  <%= f.input :status, as: :hidden %>
  <%= f.input :student_id, as: :hidden %>
  <%= f.input :justification, as: :hidden, input_html: { value: ""} %>
  <p class="lead active">Você deseja realmente ativar a enturmação de <%= @group%> na turma <%= @group.classroom%> ?</p>