<%= f.input :classroom_id, :as => "hidden"%>
<%= f.input :status, as: :hidden %>
<%= f.input :student_id, as: :hidden %>
<%= f.input :justification, as: :hidden, input_html: { value: ""} %>
<p class="lead active">
  Você deseja realmente aprovar <%= @group%>  com a nota <%= @group.value_tatal %>?
</p>