<%= f.input :classroom_id, :as => "hidden"%>
<%= hidden_field_tag :classroom_id, params[:classroom_id] %>
<%= f.input :status, as: :hidden %>
<%= hidden_field_tag :status, params[:status] %>

<p class="lead active">Aluno  <%= @group%>  realmente desistiu do curso <%= @group.classroom.course %> turma <%= @group.classroom%> ?
</p>
<div class="row-fluid">
    <%= f.input :justification, input_html: { rows: '10', cols: '100' } %>
</div>
<div class="form-actions">
   <%= f.button :submit, class: 'btn btn-success' %>
   <%= link_to 'Voltar', :back, class: 'btn' %>

</div>
