  <%= label_tag 'txtBusca', 'Pesquisar' %>
  <%= text_field_tag 'txtBusca', '', :class => 'span11 input-search', :id => 'txtBusca',:placeholder => "Buscar nesta lista", :alt =>"list_groups" %>
<table class="table table-striped table-hover table-bordered list_groups">
  <thead>
    <tr>
      <th>Nº</th>
      <th>Nome</th>
      <th>Idade</th>
      <th>Faltas</th>
      <% TypeExam.to_a.each do |tp| %>
        <th><%= tp.first%></th>
      <% end %>
      <th>Situação</th>
      <th>Reprovado Semestre anterior</th>
      <th>Ação</th>
    </tr>
  </thead>
  <tbody>
    <% count = 0 %>
    <% if @classroom.groups.any? %>
      <% @classroom.groups.sorted.each do |group| %>
      <tr class="
      <% if group.approved? %>success<%end%>
      <% if group.failed? %>error<%end%>
      <% if group.transfer? %>warning<%end%>
      <% if group.folded? %>warning<%end%>
      <% if group.locked? %>warning<%end%>
      ">
          <td>
						<%=count  = count + 1 %>
						<% if group.second_change_exam %>
						  <a title="Aluno foi marcado para 2ª chamada" data-placement="right" data-toggle="tooltip" href="#" data-original-title=""><h5 class='text-alert'><i class="icon-warning-sign"></i></h5>
						  </a>
						<% end %>

						<% if group.re_enrollment %>
						  <a title="Aluno Rematriculado" data-placement="right" data-toggle="tooltip" href="#" data-original-title=""><h5 class='text-alert'><i class="icon-ok"></i></h5>
						  </a>
						<% end %>
          <td>
							<%= group%>
          </td>


          <td>
            <%= "#{group.student.age[:ano]} ano(s) #{group.student.age[:mes]} mês(es) #{group.student.age[:dia]} dia(s)" %>
          </td>
          <td>
            <a title="<%group.student.faults_for_calendar(group.classroom.calendar_id, group.classroom.course.type_course).each do |f|%><%= "#{f}(#{f.justification_humanize}), "%><%end%>" data-placement="top" data-toggle="tooltip" href="#" data-original-title=""><%= group.student.faults_for_calendar(group.classroom.calendar_id, group.classroom.course.type_course).count %>
            </a>
          </td>
          <% TypeExam.to_a.each do |te| %>
            <td>
              <%= group.exams.find_by_type_exam(te.last).try(:value) %>
            </td>
          <% end %>
          <td>
            <a title="<%=group.justification%>" data-placement="top" data-toggle="tooltip" href="#" data-original-title=""><%=group.status_humanize %></a>
          </td>
					<td>
						<% if group.repeat %>
						<h3 class='text-error text-center'><i title= "trancar" class="icon-thumbs-up"></i><h3>
						<% end %>
					</td>
					<td>
						<%= link_to  group.student, role: 'button' do %>
            	<i title='Informações sobre aluno' class="icon-info"></i>
            <% end %> | 

            <%= link_to  second_change_exam_group_path(group), role: 'button' do %>
            	<i title= "<%= group.second_change_exam ? 'Cancelar 2ª chamada' : 'Marca 2ª chamada' %>" class=" icon-share-alt"></i>
            <% end %> | 				

            <%= link_to  re_enrollment_group_path(group), role: 'button' do %>
            	<i title= "<%= group.re_enrollment ? 'Cancelar Rematricula' : 'Rematricular' %>" class="icon-file"></i>
            <% end %> | 				

            <%= link_to  edit_group_path(group, status: StatusGroup::LOCKED), role: 'button' do %>
            	<i title= "trancar" class=" icon-ban-circle"></i>
            <% end %> | 				

            <%= link_to  edit_group_path(group, status: StatusGroup::ACTIVE), role: 'button' do %>
            	<i title= "Ativar" class="icon-ok"></i>
            <% end %> | 				

            <%= link_to  edit_group_path(group, status: StatusGroup::FOLDED), role: 'button' do %>
            	<i title= "Desistir" class="icon-thumbs-down"></i>
            <% end %> | 				

            <%= link_to  edit_group_path(group, status: StatusGroup::TRANSFER), role: 'button' do %>
            	<i title= "Transferir" class="icon-random"></i>
            <% end %> | 

            <%= link_to group, method: :delete, data: { confirm: 'Confirma exclusão?' }, role: 'button' do %>
            	<i title= 'Excluir' class="icon-trash"></i>
            <% end %>
						<%= link_to 	faults_path(group_id: group.id), role: 'button' do %>
            	<i title= "Informações sobre faltas" class="icon-check"></i>
            <% end %>		 | 
						<%= link_to 	exams_path(group_id: group.id), role: 'button' do %>
            	<i title= "Informações sobre avaliações" class="icon-star"></i>
            <% end %>		
					</td>
        </tr>
      <% end %>
    <% else %>
    <tr>
      <td colspan='8'>Nenhum registro foi encontrado.</td>
    </tr>
    <% end %>
  </tbody>
</table>
