<blockquote>
  <p>
    <b>Livro: </b><%=@book%>
  </p>
</blockquote>
<%= text_field_tag 'txtBusca', '', :class => 'span11 input-search', :id => 'txtBusca',:placeholder => "Buscar nesta lista", :alt =>"list_books" %>

  <table id="ulItens" class="table table-striped table-hover table-bordered list_books" >
    <colgroup>
      <col>
      <col width="160">
    </colgroup>
    <thead>
      <tr>
	      <th>
          Data Empréstimo
        </th>
        <th>
          Aluno
        </th>
        <th>
          Ação
        </th>
      </tr>
    </thead>
    <tbody>
      <% if @rents.any? %>
        <% @rents.each do |rent| %>
          <tr class="<%if rent.returned %>success<%else%>error<%end%>">
						<td>
							<%= l rent.created_at %>
						</td>
            <td>
                <%= rent.student  %>
            </td>
            <td>
              <%= link_to "Devolver", rent.student, :class => "btn btn-primary" %>
            </td>
          </tr>
        <% end %>
      <% else %>
      <tr>
        <td colspan='2'>Nenhum registro foi encontrado.</td>
      </tr>
      <% end %>
    </tbody>
  </table>
