<%= simple_form_for(@event) do |f| %>
<% if params[:calendar_day_id].nil? ||  params[:calendar_day_id].blank? %>
	<%= hidden_field_tag :student_id, params[:student_id] %>
	<%= f.input :student_id, :as => "hidden"%>
	<div class="row-fluid">
	  <div class="span7">
				  <div class="span7"> <%= f.input :calendar_day_id, collection: current_calendar.days.map{|cd|[cd.to_string, cd.id]}, input_html: { class: 'span7' } %></div>
		</div>
	</div>	
<% else %>
	<div class="form-actions">
	  <%= hidden_field_tag :calendar_day_id, params[:calendar_day_id] %>
	  <%= f.input :calendar_day_id, :as => "hidden"%>
		<h2 class="text-info"><%= @event.calendar_day.to_string %></h2>
	</div>
<% end %>



<div class="row-fluid">
  <div class="span3"><%= f.input :time_start, input_html: { class: 'span3' } %></div>
  <div class="span3"><%= f.input :time_end, input_html: { class: 'span3' } %></div>
</div>
<div class="row-fluid">
  <div class="span3"><%= f.input :type_event, collection: TypeEvent %></div>
</div>
<div class="row-fluid">
  <div class="span6">
      <%= f.input :description, input_html: { rows: 10 } %>
    </div>
</div>

<div class="row-fluid">
  <div class="span3"><%= f.input :closed %></div>
</div>
<br>
<div class="<%= 'hidden' unless f.object.monitoring? %>" id="div_monitoring" >
  <blockquote>
    <h3>Monitoria</h3>
		<div class="alert alert-info">
			<button type="button" class="close" data-dismiss="alert">&times;</button>
			<i class="icon-time"></i><strong>Horários Monitoria</strong><br>
			<% ScheduleTeacher.company_id(current_company.id).group_by(&:teacher).each do |teacher, schedules| %>
				<br><strong><%= teacher %></strong><br>
				<% schedules.sort_by(&:day_week).each do |s| %>
					<%= s.day_week_humanize %> <%= s.time_start.try(:strftime, '%H:%M')%> às <%= s.time_end.try(:strftime, '%H:%M')%><br>
				<% end %>
			<% end %>
		</div>
    <div class='row-fluid' >
      <div class="span10"><%= f.input :student_id, collection: current_company.students.sorted, input_html: { class: 'span10' } %></div>
    </div>
    <div class='row-fluid' >
      <div class="span10"><%= f.input :teacher_id, collection: current_company.teachers.monitor.map{|cd|[cd.to_s_monitor, cd.id]}, input_html: { class: 'span10' } %></div>
	    <div class='row-fluid' >
			  <div class="span3"><%= f.input :student_came_in_monitoring %></div>		
			</div>
    </div>
  </blockquote>
</div>
<div class="form-actions">
  <%= f.button :submit, :class => "btn btn-success" %>
</div>

<% end %>
