<%= simple_form_for(@book) do |f| %>
  <div class="row-fluid">
    <div class="span10"><%= f.input :title, input_html: { class: 'span10' } %></div>
  </div>
  <div class="row-fluid">
    <div class="span6"><%= f.input :code, input_html: { class: 'span6' } %></div>
  </div>
  <div class="row-fluid">
    <div class="span3"><%= f.input :level, collection: LevelBook %></div>
    <div class="span3"><%= f.input :language, collection: Language %></div>
  </div>
  <div class="row-fluid">
    <div class="span6"><%= f.input :description, input_html: { rows: '10', cols: '100' } %></div>
  </div>

   <div class="form-actions">
     <%= f.button :submit, class: 'btn btn-success' %>
     <%= link_to 'Voltar', :back, class: 'btn' %>
   </div>
<% end %>