<blockquote>
  <table class='table'>
    <tr>
      <td>
        <%= link_to new_book_path, role: 'button' do %>
          <h2 class="text-success" title='Novo Aluno'><i class="icon-plus"></i></h2>
        <% end %>
      </td>
	 </tr>
	</table>
</blockquote>

<%= label_tag 'txtBusca', 'Pesquisar' %>
<%= text_field_tag 'txtBusca', '', :class => 'span11 input-search', :id => 'txtBusca',:placeholder => "Buscar nesta lista", :alt =>"list_books" %>

<table class="list_books table table-striped table-hover table-bordered">
    <thead>
        <tr>
            <th>Nome</th>
            <th>Código</th>
            <th>Ação</th>
        </tr>
    </thead>
    <tbody>
        <% if @books.any? %>
          <% @books.each do |b| %>
            <tr>
                <td align="center">
                  <%= b %>
                </td>
                <td>
									<%= b.code %>
                </td>
                <td>
                  <div class="btn-group">
                    <%= link_to "Ver", b, :class => "btn btn-primary" %>
                  </div>
                </td>
            </tr>
          <% end %>
        <% else %>
          <tr>
            <td colspan='2'>Nenhum registro foi encontrado.</td>
          </tr>
        <% end %>
    </tbody>
</table>