<div class="tabbable">
  <ul class="nav nav-tabs">
    <li class="active"> <%= link_to "Geral", "#main", :"data-toggle" => :tab %></li>
    <% @classrooms.group_by(&:day_week_humanize).each do |day_week_humanize, classrooms| %>
      <li> <%= link_to "#{day_week_humanize}", "##{classrooms.first.day_week}", :"data-toggle" => :tab %></li>
    <% end %>
  </ul>
</div>
<div class="tab-content">
  <div class="tab-pane fade active in" id="main">
    <b>Quantidade de vagas: </b><%= @vacancy%><br>
    <b>Matricula restante: </b><%= @remaining_vacancies%><br>
    <b>Quantidade de alunos matriculados: </b><%= @groups_active%><br>
    <b>Quantidade de Turmas: </b><%= @quant_classrooms%>
  </div>

  <% @classrooms.group_by(&:day_week_humanize).each do |day_week_humanize, classrooms| %>
    <div class="tab-pane" id="<%=classrooms.first.day_week%>">
      <table class="table table-striped table-hover table-bordered">
        <% classrooms.group_by(&:time_start).each do |time_start, classrooms| %>
          <tr>
            <td>
              <p class="text-success"><b><i class="icon-time"></i> <%= time_start.try(:strftime, '%H:%M') %></b></p>
            </td>
            <% classrooms.each do |c| %>
              <% count_students = 0 %>
              <% count_students = c.count_students%>
              <td>
                <div class= "alert alert-<%if c.remaining_vacancies == 0%>success<%else%>info<%end%>">
                  <%= link_to "#{c}", c %> - <%= c.teacher %><br>
                  <i title='Capacidade'class="icon-lock"></i> <%= c.capacity %><br>
                  <i title='Quantidades de alunos'class="icon-chevron-down"></i> <%= count_students %><br>
                  <i title='Vagas restantes'class="icon-plus"></i> <%= c.remaining_vacancies %><br>
                  <%= link_to 'Matricular', new_enrollment_path(classroom_id: c.id)  unless c.remaining_vacancies == 0 %>
                </div>
              </td>
            <% end %>
          </tr>
        <% end %>
      </table>
    </div>
  <%end %>
<div>