<table class="table table-striped table-hover table-bordered">
  <thead>
    <tr>
      <th>Nome</th>
      <th>Quantidade de faltas</th>
      <th>faltas</th>
      <th>Turma</th>
      <th>Ação</th>
    </tr>
  </thead>
  <tbody>
		<% current_calendar.groups_active.sorted_week_and_time.each do |g| %>
		<%count_faults = g.faults.justification(JustificationsFault::NONE).count %>
		<% if count_faults >= 6 %>
			<tr class="
				<%if count_faults >= 9 %>error<%end%>
				<%if [7,8].include?(count_faults) %>warning<%end%>
				
				">
				<td>
					<%= g %>
				</td>
				<td>
					<%= count_faults %>
				</td>	
				<td>
					<% g.faults.each do |f|%>
						<%= f %>, 
					<% end %>
				</td>
				<td>
					<%= g.classroom %> - <%= g.classroom.day_week_humanize %> - <%= g.classroom.time_start.try(:strftime, '%H:%M') %> às <%= g.classroom.time_end.try(:strftime, '%H:%M') %>						        
				</td>
				<td>					
					<%= link_to 'Desistir', edit_group_path(g, status: StatusGroup::FOLDED, manager_fault: :true ), class: 'btn btn-success'%>           
				</td>
			</tr>		
		<% 	end %>
		<% end %>
	</tbody>
</table>

	