<%current_calendar.months.each do |m| %>
	<% count = 0 %>
	<h4 class='text-info text-center'><%= TranslateMonths.translate(m) %></h4><hr>
	<% current_calendar.groups.types_courses(TypeCourse::ENGLISH, TypeCourse::SPANISH).by_month(m).sort_by(&:student).group_by(&:student).each do |student, groups| %>
		  <h5 class='text-success'><%=student%></h5><br>
		
			<% groups.each do |g|%>
				<%= g.classroom %> <strong><%= g.status_humanize.upcase %></strong><br>
				<% count =  count + 1 %>
	 		<% end %>
		 	<hr>
		
		
	<% end %>
	<strong>Quantidade de matriculas:</strong> <%= count %>
<%end%>