<script src='http://www.google.com/jsapi'></script>
<div id='chart'></div>
<%= render_chart @chart, 'chart' %>
<hr>
<table class='table'>
	<tr>
		<% unless @approved.zero?%>
			<td>
				<b>Aprovados: </b> <%= @approved %>
			</td>
		<% end %>
		<% unless @failed.zero?%>
			<td>
				<b>Reprovados: </b> <%= @failed %>
			</td>
		<% end %>		
		<% unless @folded.count.zero?%>
			<td>
				<b>Abandonos: </b> <%= @folded.count %>
			</td>
		<% end %>				
		<% unless @locked.count.zero?%>
			<td>
				<b>Trancados: </b> <%= @locked.count %>
			</td>
		<% end %>				
		<% unless @active.zero?%>
			<td>
				<b>Ativos: </b> <%= @active %>				
			</td>
		<% end %>						
	</tr>
</table>
<hr>
<h4 class='text-center'>Abandono</h4>
<table class='table'>
	<tr>
		<th>
			Aluno
		</th>
		<th>
			Motivo
		</th>
		<th>
			Turma		
		</th>
	</tr>
	<% @folded.each do  |f| %>
		<tr>
			<td>
				<%= f %>
			</td>
			<td>
			<%= f.justification%>
			</td>
			<td>
				<%= f.classroom %>
        <br/>
        <b>Professor:</b> <%= f.classroom.teacher%><br/>
        <b>Horário:</b> <%= f.classroom.time_start.try(:strftime, '%H:%M') %> às  <%= f.classroom.time_end.try(:strftime, '%H:%M') %> <br/>
        <b>Dia da Semana:</b>
        <%= f.classroom.day_week_humanize %><br/>
			</td>
		</tr>	
	<% end %>
</table>
<h4 class='text-center'>Trancada</h4>
<table class='table'>
	<tr>
		<th>
			Aluno
		</th>
		<th>
			Motivo
		</th>
		<th>
		</th>
	</tr>
	<% @locked.each do  |f| %>
		<tr>
			<td>
				<%= f %>
			</td>
			<td>
			<%= f.justification%>
			</td>
			<td>
				<%= f.classroom %>
        <br/>
        <b>Professor:</b> <%= f.classroom.teacher%><br/>
        <b>Horário:</b> <%= f.classroom.time_start.try(:strftime, '%H:%M') %> às  <%= f.classroom.time_end.try(:strftime, '%H:%M') %> <br/>
        <b>Dia da Semana:</b>
        <%= f.classroom.day_week_humanize %><br/>
			</td>
			
		</tr>	
	<% end %>
</table>

