<h3 class='text-center'><%= title%></h3> 
<b>Quantidade de alunos:</b>  <%= @active.count %>
<table class='table'>
	<tr>
		<th>
			Bairro
		</th>
		<th>
			Quantidade
		</th>		
	</tr>
<% @active.group_by(&:neighborhood).each do |neighborhood, groups| %>
<% if  neighborhood != "" and neighborhood != nil %>
<tr>
	<td>
		<%= neighborhood %> 
		<hr>
	</td>		
	<td>
		<%= groups.count %>
		<hr>		
	</td>				
</tr>
<% end %>
<% end %>
</table>

<h3 class='text-center'>Alunos sem informação de bairro</h3> 
<%= count1 = 0 %>
<% @active.each do |s| %>
	<% if  s.neighborhood == "" %>
		<%= link_to "#{s.student} - #{s.classroom}", s.student %><br>	
		<% count1 = count1 + 1 %>
	<% end %>
<% end %>
<%= count2 = 0 %>
<% @active.each do |s| %>
	<% if  s.neighborhood == nil %>
		<%= link_to "#{s.student} - #{s.classroom}", s.student %><br>	
		<% count2 = count2 + 1 %>		
	<% end %>
<% end %>







<b>Quantidade de alunos:</b>  <%= @count2 + count1 %>
