	<% @calendar.days.group_by(&:month_string).each do |month_string, days| %>
		 <h4 class="text-success"><%= month_string %></h4>
		<table class=" table table-striped table-hover table-bordered">
			<tr>
				<td>
				 <h4 class="text-success">Dom</h4>
				</td>
				<td>
				 <h4 class="text-success">Seg</h4>
				</td>
				<td>
				 <h4 class="text-success">Ter</h4>
				</td>
				<td>
				 <h4 class="text-success">Qua</h4>
				</td>
				<td>
				 <h4 class="text-success">Qui</h4>
				</td>
				<td>
				 <h4 class="text-success">Sex</h4>
				</td>
				<td>
				 <h4 class="text-success">Sab</h4>
				</td>				
			</tr>
			<tr>
				<td>
					<% days.sort_by(&:week).each do |d| %>
						<% if d.wday ==  DayWeek::SUNDAY %>
						<p>
							 <h4 class="text-error"><%= link_to "#{d.day.day}", d  %><% if d.day == Date.current %>*<%end%></h4>
						</p>
						<% end %>
				  <% end %>
				</td>
				<td>
					<% days.sort_by(&:week).each do |d| %>					
						<% if d.wday ==  DayWeek::MONDAY %>
							<p>
								 <h4 class="text-error"><%= link_to "#{d.day.day}", d  %><% if d.day == Date.current %>*<%end%></h4>
							</p>
						<% end %>
				  <% end %>					
				</td>
				<td>
					<% days.sort_by(&:week).each do |d| %>
						<% if d.wday ==  DayWeek::TUESDAY %>
						<p>
							 <h4 class="text-error"><%= link_to "#{d.day.day}", d  %><% if d.day == Date.current %>*<%end%></h4>
						</p>
						<% end %>
				  <% end %>					
				</td>
				<td>
					<% days.sort_by(&:week).each do |d| %>
						<% if d.wday ==  DayWeek::WEDNESDAY %>
						<p>
							 <h4 class="text-error"><%= link_to "#{d.day.day}", d  %><% if d.day == Date.current %>*<%end%></h4>
						</p>
						<% end %>
				  <% end %>										
				</td>
				<td>
					<% days.sort_by(&:week).each do |d| %>
						<% if d.wday ==  DayWeek::THURSDAY %>
						<p>
							 <h4 class="text-error"><%= link_to "#{d.day.day}", d  %><% if d.day == Date.current %>*<%end%></h4>
						</p>
						<% end %>
				  <% end %>															
				</td>
				<td>
					<% days.sort_by(&:week).each do |d| %>
						<% if d.wday ==  DayWeek::FRIDAY %>
						<p>
							 <h4 class="text-error"><%= link_to "#{d.day.day}", d  %><% if d.day == Date.current %>*<%end%></h4>
						</p>
						<% end %>
				  <% end %>																				
				</td>
				<td>
					<% days.sort_by(&:week).each do |d| %>
						<% if d.wday ==  DayWeek::SATURDAY %>
						<p>
							 <h4 class="text-error"><%= link_to "#{d.day.day}", d  %><% if d.day == Date.current %>*<%end%></h4>
						</p>
						<% end %>
				  <% end %>																				
				</td>
			</tr>
		</table>
	<% end %>