<div class="tabbable">
  <ul class="nav nav-tabs">
    <li class="active"> <%= link_to "Calendário", "#general", :"data-toggle" => :tab %></li>
		<% unless current_user.profile.name == 'ALUNOS' %>
    	<li> <%= link_to "Agenda", "#address", :"data-toggle" => :tab %></li>
		<% end %>
  </ul>
</div>
<div class="tab-content">
  <div class="tab-pane fade active in" id="general">
	  <%= render 'full'%>  
  </div>
	<% if current_user.profile.name == 'ALUNOS' %>
  <div class="tab-pane" id="address">
		<%= form_tag @calendar, :method => 'get' do  %>
		   <form class="form-search">
		      <div class="input-append">
		        <%= text_field_tag "day" , "", class: 'span12 search-query date' %>
		        <%= submit_tag  "Pesquisar", :class => :btn%>
		      </div>
		    </form>
		 <% end %>
		<% if @calendar_days.any?%>
		  <%@calendar_days.each do |cd|%>
		    <table class="table table-striped table-bordered table-hover" >
		      <tr>
		        <td>
		          <h1><small><%= cd.weekday%></small></h1>
		        </td>
		        <td>
		          <h1><small><%= cd.month_string%>/<%= cd.day.year%></small><h1>
		        </td>
		        <td>
		          <h1><%= cd.day.day%></h1>
		          <%= link_to "Criar Eventos", new_event_path(calendar_day_id: cd.id), :class => 'btn btn-success'%>
		        </td>
		      </tr>
		      <% if cd.events.any? %>
		        <% cd.events.sorted_time_start.each do |e|%>
		          <tr class= "
		          <% if e.day_trial? %>error<% end %>
		          <% if e.important? %>error<% end %>
		          <% if e.monitoring? %>info<% end %>
		          <% if e.recess? %>warning<% end %>
		          <% if e.party? %>success<% end %>
							<% if e.midterm? %>error<% end %>
		          <% if e.oral? %>error<% end %>
							<% if e.final? %>error<% end %>						
		          ">
		            <td colspan='2'><b><%= e.time_start.try(:strftime, '%H:%M')%> às <%= e.time_end.try(:strftime, '%H:%M')%></b> - <%= e %>(<%= e.type_event_humanize %><%if e.closed%> - FECHADO <% end %>)
		            </td>
		            <td colspan=>
		              <div class="btn-group">
		                <%= link_to "Editar evento", edit_event_path(e), class: "btn btn-primary" %>
		                <%= link_to "Deletar", e, method: :delete, data: { confirm: 'Confirma exclusão?' }, class: "btn btn-danger" %>
		              </div>
		            </td>
		          </tr>
		        <% end %>
		      <% else %>
		        <tr>
		          <td colspan='3'>Nenhum evento foi encontrado.</td>
		        </tr>
		      <% end %>
		      <% cd.schedules.each do |s| %>
		        <tr>
		          <td colspan='3'>
		            <%= s.description%>(<%= s.plan %> - cronograma)
		          </td>
		        </tr>
		      <% end %>
		    <table>
		  <% end %>
		<%else%>
		  <div class="alert alert-block">
		    <button type="button" class="close" data-dismiss="alert">&times;</button>
		    <h4>Data não foi encontra!</h4>
		      Data não foi encontrar ou data é inválida.
		  </div>
		<%end%>
  </div>
	<% end %>
</div>
