<%= simple_form_for(@lesson) do |f| %>
  <%= hidden_field_tag :classroom_id, params[:classroom_id] %>
  <%= f.input :classroom_id, :as => "hidden"%>
  <a id='open' href="#"><h3><%=@classroom%></h3></a>
  <div id='information'>
    <a id='close' href="#">x</a>
    <blockquote>
    <table class='table'>
      <tr>
        <td>
          <p>
            <strong>Nome:</strong>
            <%= @classroom.name %>
          </p>
        <td>
          <p>
            <strong>Curso:</strong>
            <%= @classroom.course %>
          </p>
        <td>
        </td>
      </tr>
      <tr>
        <td>
          <p>
            <strong>Escola:</strong>
            <%= @classroom.company %>
          </p>
        </td>
        <td>
          <p>
            <strong>Dia da Semana:</strong>
            <%= @classroom.day_week_humanize %>
          </p>
        </td>
      </tr>
      <tr>
        <td>
          <p>
            <strong>Hora Inicial:</strong>
            <%= @classroom.time_start.try(:strftime, '%H:%M') %>
          </p>
        </td>
        <td>
          <p>
            <strong>Hora final:</strong>
            <%= @classroom.time_end.try(:strftime, '%H:%M') %>
          </p>
        </td>
      </tr>
      <tr>
        <td>
          <p>
            <strong>Professor:</strong>
            <%= @classroom.teacher %>
          </p>
        </td>
      <tr>
    </table>
    </blockquote>
  </div>

  <%= f.input :calendar_day_id, collection: current_calendar.days.map{|cd|[cd.to_string, cd.id]}, input_html: { class: 'span4' } %>

  <div class="form-actions">
    <%= f.button :submit, :class => "btn btn-success" %>
    <%= link_to 'Voltar', lessons_path(classroom_id: params[:classroom_id]), :class => "btn"  %>
  </div>
<% end %>