<a id='open' href="#"><h3><%=@classroom%></h3></a>
<div id='information'>
  <a id='close' href="#">x</a>
  <blockquote>
  <table class='table'>
    <tr>
      <td>
        <p>
          <strong>Nome:</strong>
          <%= @classroom.name %>
        </p>
      <td>
        <p>
          <strong>Curso:</strong>
          <%= @classroom.course %>
        </p>
      <td>
      </td>
    </tr>
    <tr>
      <td>
        <p>
          <strong>Escola:</strong>
          <%= @classroom.company %>
        </p>
      </td>
      <td>
        <p>
          <strong>Dia da Semana:</strong>
          <%= @classroom.day_week_humanize %>
        </p>
      </td>
    </tr>
    <tr>
      <td>
        <p>
          <strong>Hora Inicial:</strong>
          <%= @classroom.time_start.try(:strftime, '%H:%M') %>
        </p>
      </td>
      <td>
        <p>
          <strong>Hora final:</strong>
          <%= @classroom.time_end.try(:strftime, '%H:%M') %>
        </p>
      </td>
    </tr>
    <tr>
      <td>
        <p>
          <strong>Professor:</strong>
          <%= @classroom.teacher %>
        </p>
      </td>
    <tr>
  </table>
  </blockquote>
</div>
<div id='div_color'>
  <table class="table table-striped table-hover table-bordered">
    <colgroup>
      <col>
      <col width="160">
    </colgroup>
    <thead>
      <tr>
        <th>Dia</th>
        <th>Ação</th>
      </tr>
    </thead>
    <tbody>
      <% if @lessons.any? %>
        <% @lessons.each do |l| %>
          <tr>
            <td>
              <%= l l.calendar_day.day, format: :long  %>
            </td>
            <td align='center'>
              <div class="btn-group">
                <%= link_to 'Deletar', l, method: :delete, data: { confirm: 'Confirma exclusão?'}, :class => "btn btn-danger" %>
              </div>
            </td>
          </tr>
        <% end %>
      <% else %>
      <tr>
        <td colspan='2'>Nenhum registro foi encontrado.</td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>

<div class="form-actions">
  <%= link_to 'Nova Lição', new_lesson_path(classroom_id: params[:classroom_id]), :class => "btn" %>
  <%= link_to 'voltar', @classroom, :class => "btn" %>

</div>