<h4 align='center'>Cronograma</h4>
<div id='div_color'>
  <% @lessons.sort_by(&:calendar_day_id).group_by(&:calendar_day).each do |calendar_day, lessons| %>
    <div class="alert alert-info">
      <b><%= calendar_day.try(:to_string) %></b>
      <br>
      <table class='table'>
        <tr>
          <th>
            Horário
          </th>
          <th>
            Turma
          </th>
          <th>
            Atividade
          </th>
        </tr>
      <%lessons.sort_by(&:time_start).each do |l| %>
          <tr>
            <td>
              <%= l.classroom.time_start.try(:strftime, '%H:%M') %> às <%= l.classroom.time_end.try(:strftime, '%H:%M')%>
            </td>
            <td>
              <%= l.classroom %>
            </td>
            <td>
              <% l.schedules.each do |s|%>
                <%= s.description %>
              <% end %>
            </td>
          <tr/>
      <% end %>
    </table>
    </div>
  <% end %>
</div>
