<h4>Geral</h4>
<blockquote>
  <p>
    <strong>Nome: </strong><%=@teacher%><br>
    <strong>Data Nascimento: </strong><%= l @teacher.birth_date unless @teacher.birth_date.nil?  %><br>
    <strong>Idade: </strong><%= @teacher.age %><br>
    <strong>email: </strong> <%= @teacher.email%><br>
    <strong>Telefones: </strong> <%= @teacher.phone%><br>
  </p>
</blockquote>
<h4>Turmas</h4>
<%count = 0%>
<table>
<% @classrooms.sorted.each do |c |%>
		<% if 
			count == 0 %>
      <tr>
    <%end%>
    	<%  count = count + 1 %>
      <td>
				<div class="alert alert-info">
					<%= c %><br>
					<%= c.day_week_humanize%> - <%= c.time_start.try(:strftime, '%H:%M')%> às <%= c.time_end.try(:strftime, '%H:%M') %>  		
			  </div>		
      </td>
      <% if count == 3%>
        <%count = 0%>
        </tr>
      <%end%>    
<% end %>
</table>
<br>
<p class='text-success'><b>Quantidade de alunos aprovado(s):
	<%= @teacher.groups_approved(current_calendar.id).count %></b>
</p>
<p class='text-error'><b>Quantidade de alunos reprovado(s):
	<%= @teacher.groups_failed(current_calendar.id).count %></b>
</p>

