<h4>Geral</h4>
<blockquote>
  <p>
    <strong>Nome: </strong><%=@teacher%><br>
    <strong>Data Nascimento: </strong><%= l @teacher.birth_date unless @teacher.birth_date.nil?  %><br>
    <strong>Idade: </strong><%= @teacher.age %><br>
    <strong>email: </strong> <%= @teacher.email%><br>
    <strong>Telefones: </strong> <%= @teacher.phone%><br>
  </p>
</blockquote>
<h4>Turmas</h4>
<blockquote>
	<%count = 0%>
	<%count_classrooms = 0 %>
	<table>
		<% @classrooms.sorted.each do |c |%>
      <% if count == 0 %>
        <tr>
      <%end%>
      <%  count = count + 1 %>
      <%  count_classrooms = count_classrooms + 1 %>
      <td>
				<blockquote>
						<strong><%= c %></strong><br>
						<%= c.time_start.try(:strftime, '%H:%M') %> às <%= c.time_end.try(:strftime, '%H:%M') %><br>
						<%= c.day_week_humanize%><br>			
				</blockquote>
      </td>
      <% if count == 5 %>
        <%count = 0%>
        </tr>
      <%end%>    
		<% end %>
	</table>
	<blockquote>
		<% @courses.each do |c|%>
			 <%cc = @classrooms.course_id(c.id)%>
			 <% if cc.any? %>
				<strong><%= c %>:</strong> <%= cc.count %><br>
			 <% end %>
		<% end %>		
		<strong>Total: </strong><%= count_classrooms%> turmas
	</blockquote>
</blockquote>

