<h4>Geral</h4>
  <small>
    <strong>Nome: </strong><%=@teacher%><br>
    <strong>Data Nascimento: </strong><%= l @teacher.birth_date unless @teacher.birth_date.nil?  %><br>
    <strong>Idade: </strong><%= @teacher.age %><br>
    <strong>email: </strong> <%= @teacher.email%><br>
    <strong>Telefones: </strong> <%= @teacher.phone%><br>
  </small>
<% if  @previous_calendar.present? %>

<h4>Turmas - <%= @previous_calendar %> </h4>
<%count = 0%>
<table>
<% @previous_calendar.classrooms.teacher_id(@teacher.id).sorted.each do |c |%>
		<% if 
			count == 0 %>
      <tr>
    <%end%>
    	<%  count = count + 1 %>
      <td>
				<div class="alert alert-info">
					<%= c %><br>
					<%= c.day_week_humanize%> - <%= c.time_start.try(:strftime, '%H:%M')%> às <%= c.time_end.try(:strftime, '%H:%M') %>  		
			  </div>		
      </td>
      <% if count == 3%>
        <%count = 0%>
        </tr>
      <%end%>    
<% end %>
</table>
<% @courses.each do |c|%>
	 <%cc = @previous_calendar.classrooms.teacher_id(@teacher.id).course_id(c.id)%>
	 <% if cc.any? %>
		<strong><%= c %>:</strong> <%= cc.count %><br>
	 <% end %>
<% end %>		
<strong>Total: </strong><%=@previous_calendar.classrooms.teacher_id(@teacher.id).count%>

<br>

<p class='text-info'><b>Quantidade de aluno(s) entregue:
	<%= @teacher.groups(@previous_calendar.id).count %></b>
</p>
<p class='text-info'><b>Quantidade de aluno(s) transferidos:
	<%= @teacher.groups_transfer(@previous_calendar.id).count %></b>
</p>
<p class='text-warning'><b>Quantidade de aluno(s) trancado(s):
	<%= @teacher.groups_locked(@previous_calendar.id).count %>	 
</p>
<p class='text-warning'><b>Quantidade de aluno(s) que abandoram:
	<%= @teacher.groups_folded(@previous_calendar.id).count %>	 
</p>

<p class='text-success'><b>Quantidade de aluno(s) aprovado(s):
	<%= @teacher.groups_approved(@previous_calendar.id).count %></b>
</p>
<p class='text-error'><b>Quantidade de aluno(s) reprovado(s):
	<%= @teacher.groups_failed(@previous_calendar.id).count %></b>
</p>
<% end %> 


<h4>Turmas - <%= current_calendar %></h4>
<%count = 0%>
<table>
<% @classrooms.sorted.each do |c |%>
		<% if 
			count == 0 %>
      <tr>
    <%end%>
    	<%  count = count + 1 %>
      <td>
				<div class="alert alert-info">
					<%= c %><br>
					<%= c.day_week_humanize%> - <%= c.time_start.try(:strftime, '%H:%M')%> às <%= c.time_end.try(:strftime, '%H:%M') %>  		
			  </div>		
      </td>
      <% if count == 3%>
        <%count = 0%>
        </tr>
      <%end%>    
<% end %>
</table>


<br>

<% @courses.each do |c|%>
	 <%cc = @classrooms.course_id(c.id)%>
	 <% if cc.any? %>
		<strong><%= c %>:</strong> <%= cc.count %><br>
	 <% end %>
<% end %>		
<strong>Total: </strong><%=@classrooms.count%>


<br>

<p class='text-info'><b>Quantidade de aluno(s) entregue:
	<%= @teacher.groups(current_calendar.id).count %></b>
</p>
<p class='text-info'><b>Quantidade de aluno(s) transferidos:
	<%= @teacher.groups_transfer(current_calendar.id).count %></b>
</p>
<p class='text-warning'><b>Quantidade de aluno(s) trancado(s):
	<%= @teacher.groups_locked(current_calendar.id).count %>	 
</p>
<p class='text-warning'><b>Quantidade de aluno(s) que abandoram:
	<%= @teacher.groups_folded(current_calendar.id).count %>	 
</p>

<p class='text-success'><b>Quantidade de aluno(s) aprovado(s):
	<%= @teacher.groups_approved(current_calendar.id).count %></b>
</p>
<p class='text-error'><b>Quantidade de aluno(s) reprovado(s):
	<%= @teacher.groups_failed(current_calendar.id).count %></b>
</p>

