<h4 class='text-info text-center'><%=title.upcase%></h4>
<small>
<strong>Professor(a): </strong><%=@teacher%><br>
<% if  @previous_calendar.present? %>

<strong>Turmas - <%= @previous_calendar %> </strong>
<%count = 0%>
<table>
<% @previous_calendar.classrooms.teacher_id(@teacher.id).sorted.each do |c |%>
		<% if 
			count == 0 %>
      <tr>
    <%end%>
    	<%  count = count + 1 %>
      <td>
				<div class="alert alert-info">
					<%= c %><br>
					<%= c.day_week_humanize%> - <%= c.time_start.try(:strftime, '%H:%M')%> às <%= c.time_end.try(:strftime, '%H:%M') %>  		
			  </div>		
      </td>
      <% if count == 3%>
        <%count = 0%>
        </tr>
      <%end%>    
<% end %>
</table>
<table class='table'>
	<tr>
		<% @courses.each do |c|%>
			 <%cc = @previous_calendar.classrooms.teacher_id(@teacher.id).course_id(c.id)%>
			 <% if cc.any? %>
				<td><strong><%= c %>:</strong> <%= cc.count %></td>
			 <% end %>
		<% end %>				
		<td><strong>Total: </strong><%=@previous_calendar.classrooms.teacher_id(@teacher.id).count%><td>
	</tr>
</table>
<table class='table'>
	<tr>
		<td>
			<p class='text-info'>Aluno(s) entregue:<%= @teacher.groups(@previous_calendar.id).count %></p>			
		</td>
		<td>
			<p class='text-info'>Transferidos: <%=@teacher.groups_transfer(@previous_calendar.id).count %></p>			
		</td>		
		<td>
			<p class='text-warning'>Trancado(s):<%= @teacher.groups_locked(@previous_calendar.id).count %></p>			
		</td>
		<td>
			<p class='text-warning'>Abandono(s): <%= @teacher.groups_folded(@previous_calendar.id).count %></p>			
		</td>
		<td>
			<p class='text-success'>Aprovado(s): <%= @teacher.groups_approved(@previous_calendar.id).count %></p>			
		</td>
		<td>
			<p class='text-error'>Reprovado(s):<%= @teacher.groups_failed(@previous_calendar.id).count %></p>			
		</td>
	</tr>
</table>
<% end %> 

<strong>Turmas - <%= current_calendar %></strong>
<%count = 0%>
<table>
<% @classrooms.sorted.each do |c |%>
		<% if 
			count == 0 %>
      <tr>
    <%end%>
    	<%  count = count + 1 %>
      <td>
				<div class="alert alert-info">
					<%= c %><br>
					<%= c.day_week_humanize%> - <%= c.time_start.try(:strftime, '%H:%M')%> às <%= c.time_end.try(:strftime, '%H:%M') %>  		
			  </div>		
      </td>
      <% if count == 3%>
        <%count = 0%>
        </tr>
      <%end%>    
<% end %>
</table>
<table class='table'>
	<tr>
		<% @courses.each do |c|%>
	 	<%cc = @classrooms.course_id(c.id)%>
			 <% if cc.any? %>
				<td><strong><%= c %>:</strong> <%= cc.count %></td>
			 <% end %>
		<% end %>				
		<td><strong>Total: </strong><%=@classrooms.count%><td>
	</tr>
</table>
<table class='table'>
	<tr>
		<td>
			<p class='text-info'>Aluno(s) entregue:<%= @teacher.groups(current_calendar.id).count %></p>			
		</td>
		<td>
			<p class='text-info'>Transferidos: <%=@teacher.groups_transfer(current_calendar.id).count %></p>			
		</td>		
		<td>
			<p class='text-warning'>Trancado(s):<%= @teacher.groups_locked(current_calendar.id).count %></p>			
		</td>
		<td>
			<p class='text-warning'>Abandono(s): <%= @teacher.groups_folded(current_calendar.id).count %></p>			
		</td>
		<td>
			<p class='text-success'>Aprovado(s): <%= @teacher.groups_approved(current_calendar.id).count %></p>			
		</td>
		<td>
			<p class='text-error'>Reprovado(s):<%= @teacher.groups_failed(current_calendar.id).count %></p>			
		</td>
	</tr>
</table>
</small>
