<blockquote>
  <table class='table'>
    <tr>
      <td>
        <%= link_to new_course_path, role: 'button' do %>
          <h2 class="text-success" title='Novo Curso'><i class="icon-plus"></i></h2>
        <% end %>
      </td>
	 </tr>
	</table>
</blockquote>

<%= label_tag 'txtBusca', 'Pesquisar' %>
<%= text_field_tag 'txtBusca', '', :class => 'span11 input-search', :id => 'txtBusca',:placeholder => "Buscar nesta lista", :alt =>"list_courses" %>

<table class="list_courses table table-striped table-hover table-bordered">
    <thead>
        <tr>
            <th>Nome</th>
            <th>tipo de curso</th>
            <th>Sequência</th>
            <th> Ação </th>
        </tr>
    </thead>
    <tbody>
      <% if @courses.any? %>
        <% @courses.sorted.each do |c| %>
          <tr>
              <td><%= c %></td>
              <td><%= c.type_course_humanize%></td>
              <td><%= c.sequence%></td>
              <td>
                <div class="btn-group">
                  <%= link_to "Editar", edit_course_path(c), :class => "btn btn-primary" %>
                </div>
              </td>
          </tr>
        <% end %>
      <% else %>
        <tr>
          <td colspan='9'>Nenhum registro foi encontrado.</td>
        </tr>
      <% end %>
    </tbody>
</table>
