<%= simple_form_for(@fault) do |f| %>
  <%= hidden_field_tag :group_id, params[:group_id] %>
  <%= f.input :group_id, :as => "hidden"%>
  <p>
    <b>Turma:</b> <%= @fault.group.classroom %>
  </p>
  <p>
    <b>Aluno:</b> <%= @fault.group %>
  </p>
  <% unless @fault.new_record? %>
    <p>
      <b>Aula:</b> <%= @fault.lesson %>
      <%= f.input :lesson_id, :as => "hidden"%>
    </p>
  <% end %>
  <hr>
  <div class="row-fluid">
    <% if @fault.new_record? %>
      <div class="span3"><%= f.input :lesson_id, collection: Lesson.classroom_id(@fault.group.classroom_id) %></div>
    <% end %>

    <div class="span3"><%= f.input :justification, collection: JustificationsFault %></div>
  </div>

  <div class="form-actions">
    <%= f.button :submit, :class => "btn btn-success" %>
    <%= link_to 'Informações sobre faltas', faults_path(group_id: @fault.group_id), :class => "btn btn-info"  %>
    <%= link_to 'Voltar', @fault.group.classroom, :class => "btn"  %>
  </div>
<% end %>
