<p><%= I18n.t "title.devise.mailer.reset_password_instructions", :email => @resource.email %></p>

<p><%= I18n.t "context.devise.mailer.reset_password_instructions.request" %></p>

<p><%= link_to I18n.t("helpers.submit.devise.mailer.reset_password_instructions"), edit_password_url(@resource, :reset_password_token => @token) %></p>

<p><%= I18n.t "context.devise.mailer.reset_password_instructions.ignore" %></p>
<p><%= I18n.t "context.devise.mailer.reset_password_instructions.warnning" %></p>
