<%= simple_form_for(@plan) do |f| %>
  <%= hidden_field_tag :calendar_id, params[:calendar_id] %>
  <%= f.input :calendar_id, :as => "hidden"%>
  <blockquote>
    <b>Período:</b> <%= @plan.calendar %>
  </blockquote>
  <div class="row-fluid">
    <div class="span3"><%= f.input :course_id, collection: current_company.courses %></div>
  </div>
  <div class="row-fluid">
    <div class="span3"><%= f.input :day_week, collection: Day %></div>
  </div>  
  <div class="row-fluid">
	  <div class="span7"><%= f.input :book, input_html: { class: 'span7' } %></div>	
  </div>  
  <div class="row-fluid">
	  <div class="span3"><%= f.input :minutes_for_class, input_html: { class: 'span3' } %></div>	
  </div>  

  <div class="form-actions">
    <%= f.button :submit, class: 'btn btn-success' %>
    <%= link_to 'Voltar', :back, class: 'btn' %>
  </div>

<% end %>