<%= label_tag 'txtBusca', 'Pesquisar' %>
<%= text_field_tag 'txtBusca', '', :class => 'span11 input-search', :id => 'txtBusca',:placeholder => "Buscar nesta lista", :alt =>"list_plans" %>

<table class="list_plans table table-striped table-hover table-bordered">
    <thead>
        <tr>
            <th>Nome</th>
            <th>Ação</th>
        </tr>
    </thead>
    <tbody>
        <% if @plans.any? %>
          <% @plans.each do |p| %>
            <tr>
                <td align="center">
                  <%= p %>
                </td>
                <td>
                  <div class="btn-group">
                    <%= link_to "Ver", p, :class => "btn btn-info" %>
                    <%= link_to "Deletar", p, method: :delete, data: { confirm: 'Confirma exclusão?' }, :class => "btn btn-danger" %>
                  </div>
                </td>
            </tr>
          <% end %>
        <% else %>
          <tr>
            <td colspan='2'>Nenhum registro foi encontrado.</td>
          </tr>
        <% end %>
    </tbody>
</table>

<div class="form-actions">
  <%= link_to 'Nova cronograma', new_plan_path(calendar_id: params[:calendar_id]), :class => "btn btn-success" %>
<div>