<!DOCTYPE html>
<html>
  <head>
    <title>Cempre<%= "- #{title}" unless title.blank? %></title>
	  <%= stylesheet_link_tag   "http://ajax.googleapis.com/ajax/libs/jqueryui/1.7.2/themes/redmond/jquery-ui.css",  "application", media: "all", "data-turbolinks-track" => true %>
	  <%= javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js", "http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.1/jquery-ui.min.js", "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <%= render 'layouts/navegation_bar' %>

    <%= render 'layouts/messages' %>

    <div class="container-fluid">
      <div class="row-fluid">
        <div class="span3" id="sidebar">
          <%= render 'layouts/sidebar' %>
        </div>

        <div class="span9" id="content">

          <%= render "layouts/content_block" %>
        </div>
      </div>
      <hr>
      <%= render 'layouts/footer' %>
    </div>
  </body>
</html>
