<!DOCTYPE html>
<html>
  <head>
    <title>Cempre<%= "- #{title}" unless title.blank? %></title>
    <%= stylesheet_link_tag "application", :media => "all" %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <%= render 'layouts/navegation_bar' %>

    <%= render 'layouts/messages' %>
		<div class="container-fluid">
		  <div class="row-fluid">
		    <div class="span3">
		      <!--Sidebar content-->
				  <div class="navbar navbar-inner block-header">
						<table class='table'>
							<tr>
								<td>
									<img src="https://scontent-b-mia.xx.fbcdn.net/hphotos-xpa1/v/t1.0-9/960072_582129391842932_775170345_n.jpg?oh=36192baf269c0f3c26222f23d0078b91&oe=546B8CDC" class="img-circle" width='140'>									
								</td>
								<td>
									<strong>Nome: </strong><%= link_to "#{current_user.student.name}",  current_user.student %>
								</td>
							</tr>
						</table>
		
					</div>								
		    </div>
		    <div class="span9">
				  <div class="navbar navbar-inner block-header">
						<br>
					  <%= yield %>		      
					</div>
		    </div>
		  </div>
		</div>


    <%= javascript_include_tag "application" %>
  </body>
</html>
